tr, th, td {
    border: solid 1px;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: auto;
    
}
table {
    text-align: center;
    margin: auto;
}
th {
    font-size: 1.2rem;
}
.patas img, .social img, .cores img {
    width: 60%;
}

/*header, nav, h4, h1, h2, h3, section, article, a, body, p {
    
}
*/
